@import 'reset.css';
@import 'sans-serif.css';
@import 'serif-font.css';
@import 'script-font.css';
@import 'rotator.css';
@import 'sign-in-btn.css';
@import 'users.scss';
@import 'welcome.scss';
@import 'guest-index.scss';
@import "tables.scss";
@import "seats.scss";
@import url(https://fonts.googleapis.com/css?family=Poiret+One);
@import "navbar.scss";
@import url('https://fonts.googleapis.com/css?family=Sawarabi+Mincho&display=swap');
@font-face {
    font-family: 'Sawarabi Mincho', sans-serif;
    src: url('https://fonts.googleapis.com/css?family=Sawarabi+Mincho&display=swap');
    unicode-range: U+3000-9FFF;
}
:lang(ja) {
    font-family: 'Sawarabi Mincho', sans-serif !important;
    }

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

label {
    font-family: 'Montserrat', sans-serif;
    padding: .5em;
}

input {
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.2em;
    text-align: center;

}

nav {
    font-family: 'Montserrat', sans-serif;
    padding: 1em;
}

select {
    background-color: rgb(255, 255, 255);
    width: 7em;
    height: 2em;
    font-size: larger;
    font-family: 'Montserrat', sans-serif;
    margin-left: auto;
}

body {
    height: auto;
    max-width: 100vw;
}

.text-field {
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    border: transparent;
    border-bottom: 1px solid gray;
    background-color: white;
    height: 2em;
}

.body-wrapper {
    min-height: 100vh;
    background-image: url('wallpaper');
    background-size: 200px;
    background-color: rgba($color: #f0f0f0, $alpha: .99);
    background-blend-mode: lighten;
}

strong {
    font-weight: bolder;
}

a {
    text-decoration: none;
    color: black;
}